<!DOCTYPE html>
<html>

<head>
	<title>Shaiya Private Server</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<h1>Welcome to Shaiya Private Server</h1>
	<a href="/index">Home</a>
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<script src="/js/main.js"></script>
</body>

</html>